.loginBorder{
    border: 1px solid rgb(59, 59, 59);
    border-radius: 15px;
    padding: 2rem;
    margin: 2rem auto;
    width: 300px;
}

.loginMessage {
    color: rgb(255, 47, 47); 
    text-align: center;
}