.retrievetable {
    border: 1px solid rgb(122, 122, 122);
    border-collapse: collapse;
    max-width: 90%;
    min-width: 60%;
    margin: auto;
    table-layout:fixed;
}

.retrieveth{
    border: 1px;
    text-align: center;
    padding: 15px;
    width:25%;
}

.itemRow:nth-child() {
    background-color:grey;
}

.alternatingBGColor{
    background-color: rgb(32, 28, 42);
}

.rowStyle{
    padding: 12px;
}

.approvalTable {
    border: 1px solid rgb(122, 122, 122);
    border-collapse: collapse;
    max-width: 95%;
    min-width: 70%;
    margin: auto;
    table-layout: fixed;
}