.retrievetable {
    border: solid;
    border-collapse: collapse;
    max-width: 90%;
    min-width: 60%;
    margin: auto;
    table-layout:fixed;
    border-color: #0070f3;
}

.retrieveth{
    border: 1px;
    text-align: left;
    padding: 8px;
    width:25%;
}

.itemRow:nth-child() {
    background-color:grey;
}
